{% extends 'layout/base.html' %} {% block content %}
<section class="wrapper background-section">
  <div class="uk-card uk-card-secondary uk-card-body uk-padding-large-top">
    <h1 class="uk-heading-divider">Welcome {{first_name}}!</h1>
    <p>
      I hope you will have a great time with us. Please, feel free to review
      your watchlist movies or tv shows.
    </p>
  </div>
  <div class="uk-card uk-card-secondary uk-card-body uk-margin-large-top">
    <h1 class="uk-heading-divider">Watchlist</h1>
    {% if watchlist %}

    <div
      class="uk-position-relative uk-visible-toggle uk-background-secondary uk-light"
      tabindex="-1"
      uk-slider="sets: true"
    >
      <ul
        class="uk-slider-items uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-2@m uk-child-width-1-4@l uk-child-width-1-6@xl"
      >
        {% for data in watchlist %}
        <li>
          <div class="">
            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
              <img src="{{data.poster}}" alt="{{data.title}}" />
              <div
                class="uk-card uk-card-secondary uk-card-body uk-position-cover uk-overlay uk-overlay-primary uk-overflow-auto"
              >
                <h3 class="uk-card-title">{{data.title}}</h3>
                <h6>Plot</h6>
                <p>{{data.description}}</p>
                <h6>Details</h6>
                <ul>
                  <li>Year: {{data.year}}</li>
                  <li>IMDB Rating: {{data.imdb_rating}}</li>
                  <li>Vote Count: {{data.vote_count}}</li>
                  <li>Release Date: {{data.release_date}}</li>
                  <li>Popularity: {{data.popularity}}</li>
                  <li>Runtime: {{data.runtime}}mins</li>
                </ul>
                <h6>Stars</h6>
                <ul>
                  {% for star in data.stars %}
                  <li>{{star}}</li>
                  {% endfor %}
                </ul>
                {% if data.directors %}
                <h6>Directors</h6>
                <ul>
                  {% for director in data.directors %}
                  <li>{{director}}</li>
                  {% endfor %}
                </ul>
                {% endif %} {% if data.creators%}
                <h6>Creators</h6>
                <ul>
                  {% for creator in data.creators %}
                  <li>{{creator}}</li>
                  {% endfor %}
                </ul>
                {% endif %} {% if data.review %}
                <h6>Review</h6>
                <p>{{data.review}}</p>
                {% endif %}
                <button
                  class="uk-button uk-button-default uk-margin delete"
                  imdb="{{data._id['$oid']}}"
                  type="submit"
                >
                  Delete
                </button>
                <button
                  class="uk-button uk-button-default review"
                  imdb="{{data._id['$oid']}}"
                  type="submit"
                  uk-toggle="target: #review-modal"
                >
                  Review
                </button>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
        <div id="review-modal" class="uk-modal" uk-modal>
          <div
            class="uk-modal-dialog uk-modal-body uk-background-secondary uk-light"
          >
            <button
              class="uk-modal-close-default"
              type="button"
              uk-close
            ></button>
            <h2 class="uk-modal-title">Review</h2>
            <form id="review-form">
              <div class="uk-margin">
                <textarea
                  class="uk-textarea"
                  type="textarea"
                  rows="5"
                  placeholder="Write review"
                  name="reviewTextArea"
                  required
                  autocomplete="off"
                  id="reviewTextArea"
                ></textarea>
              </div>
              <button class="uk-button uk-button-default" type="submit">
                Save
              </button>
            </form>
          </div>
        </div>
      </ul>
      <a
        class="uk-position-center-left uk-position-small uk-hidden-hover"
        href="#"
        uk-slidenav-previous
        uk-slider-item="previous"
      ></a>
      <a
        class="uk-position-center-right uk-position-small uk-hidden-hover"
        href="#"
        uk-slidenav-next
        uk-slider-item="next"
      ></a>
    </div>
    {% else: %}
    <h4>Please add movies from the search menu.</h4>
    {% endif %}
  </div>
  <!-- User Recommendations -->
  <div class="uk-card uk-card-secondary uk-card-body uk-margin-large-top">
    <h1 class="uk-heading-divider">Recommendations</h1>
    {% if recommendation %}

    <div
      class="uk-position-relative uk-visible-toggle"
      tabindex="-1"
      uk-slider="sets: true"
    >
      <ul
        class="uk-slider-items uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-2@m uk-child-width-1-4@l uk-child-width-1-6@xl"
      >
        {% for data in recommendation %}
        <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
          <img
            src="{{data.poster}}"
            alt="{{data.title}}"
            class="uk-animation-fade"
          />
        </div>
        {% endfor %}
      </ul>
      <a
        class="uk-position-center-left uk-position-small uk-hidden-hover"
        href="#"
        uk-slidenav-previous
        uk-slider-item="previous"
      ></a>
      <a
        class="uk-position-center-right uk-position-small uk-hidden-hover"
        href="#"
        uk-slidenav-next
        uk-slider-item="next"
      ></a>
    </div>
    {% else: %}
    <h4>
      Please add a Movie or Show to your watchlist in order to get
      recommendations.
    </h4>
    {% endif %}
  </div>
  <!-- Movies Trending -->
  <div class="uk-card uk-card-secondary uk-card-body uk-margin-large-top">
    <h1 class="uk-heading-divider">Trending</h1>
    {% if trending_movies %}

    <div
      class="uk-position-relative uk-visible-toggle"
      tabindex="-1"
      uk-slider="sets: true"
    >
      <ul
        class="uk-slider-items uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-2@m uk-child-width-1-4@l uk-child-width-1-6@xl"
      >
        {% for data in trending_movies %}
        <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
          <img
            src="{{data.poster}}"
            alt="{{data.title}}"
            class="uk-animation-fade"
          />
        </div>
        {% endfor %}
      </ul>

      <a
        class="uk-position-center-left uk-position-small uk-hidden-hover"
        href="#"
        uk-slidenav-previous
        uk-slider-item="previous"
      ></a>
      <a
        class="uk-position-center-right uk-position-small uk-hidden-hover"
        href="#"
        uk-slidenav-next
        uk-slider-item="next"
      ></a>
    </div>
    {% else: %}
    <h4>We could not get trending movies and shows.</h4>
    {% endif %}
  </div>
</section>
<div id="dashboard-feedback" class="uk-flex-top" data-uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-padding">
    <div class="uk-position-top-center">
      <div id="dashboard-spinner" class="uk-padding"></div>
    </div>
    <div
      id="dashboard-message"
      class="uk-padding uk-text-center uk-margin-top"
    ></div>
  </div>
</div>
{% endblock %}
