{% extends 'layout/base.html' %} {% block content %}
<section class="background-section wrapper">
  <div class="uk-card uk-card-default uk-card-body uk-background-secondary uk-light uk-position-center">
    <h2 class="uk-modal-title">Change Password</h2>
    <form id="reset-form">
      <div class="uk-margin">
        <input
          class="uk-input"
          type="password"
          placeholder="New Password"
          id="forgotPassword"
          name="forgotPassword"
        />
      </div>
      <div class="uk-margin">
        <input
          class="uk-input"
          type="password"
          placeholder="Repeat Password"
          id="forgotRepeatPassword"
          name="forgotRepeatPassword"
        />
      </div>
      <button class="uk-button uk-button-default" id="resetButton" type="submit">
        Submit
      </button>
    </form>
  </div>
</section>

{% endblock %}
