{% extends 'layout/base.html' %} 
{% block content %}
<section id="search-section">
  <div class="container-fluid">
    <div class="card card w-75 text-center">
        <div class="card-header">
          This is where the fun begins!
        </div>
        <div class="card-body">
          <h5 class="card-title">Movies and TV Series</h5>
          <input type="text" class="form-control w-75 " />
          <a href="#" class="btn btn-outline-dark mt-2">Search</a>
        </div>
      </div>
  </div>
</section>
{% endblock %}
