{% extends 'layout/base.html' %} {% block content %} {% include
'/components/carousel.html' %}
<section id="search-section">
  <form id="search-form ">
    <div class="uk-card uk-card-default uk-card-small uk-card-body">
      <div class="uk-margin">
        <input
          class="uk-input"
          type="text"
          name="search"
          id="search-input"
          placeholder="Input"
        />
      </div>
      <div>
        <ul class="uk-child-width-expand uk-tab" id="tabs" data-uk-tab>
          <li><a href="#" id="tv-shows">TV Shows</a></li>
          <li><a href="#" id="movies">Movies</a></li>
        </ul>
      </div>
    </div>
  </form>
</section>
<section id="divider">
  <div id="movies" class="p-0"></div>
</section>
{% endblock %}
