:root {
    --white: #ffffff;
    --black: #070707;
    }

#carousel img{
    width: 100%;
    height: 500px;
}

#search-section{
    background: url("/static/img/background.svg") no-repeat left top;
    width: 100%;
    height: 100vw;
}

#search-section .container-fluid{
    padding-top: 450px;
}

#search-section .card{
    margin: auto;
    border: 3px solid var(--black);
    border-radius: 0;
    box-shadow: 0 0 3px var(--black);

}

#search-section input{
    margin: auto;
    border: 3px solid var(--black);
    border-radius: 0;
}

#search-section .card-header{
    border-radius: 0;
}

/* #search-section a{
    color: var(--white);
    border-radius: 0;
    background-color: var(--black)
} */