{% extends 'layout/base.html' %} {% block content %}
<div class="container-fluid wrapper" id="error">
    <div class="h-100 row align-items-center">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    401 Not Authorized</h2>
                <div class="error-details">
                    Sorry, you are not authorize to access this page!
                </div>
                <div class="error-actions">
                    <a href="{{ url_for('home')}}" class="uk-button uk-button-danger"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}