<footer class="bg-light text-center text-lg-start">
  <div class="row m-0 footer-bg-color">
    <div class="container text-center">
        <a href="https://www.facebook.com/" target="_blank" rel="noopener"><i class="fab fa-facebook media-icons p-3" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/" target="_blank" rel="noopener"><i class="fab fa-instagram media-icons p-3" aria-hidden="true"></i></a>
		<a href="https://www.twitter.com" target="_blank" rel="noopener"><i class="fab fa-twitter-square media-icons p-3" aria-hidden="true"></i></a>
		<a href="https://www.slack.com/" target="_blank" rel="noopener"><i class="fab fa-slack media-icons p-3" aria-hidden="true"></i></a>
	</div>
  </div>
    <div class="text-center p-3 footer-bg-color">
      © 2021 Copyright.
      <a class="text-dark" href="https://github.com/tpsantos2120">Thiago Santos</i></a>.
    </div>
</footer>
