<footer class="bg-light text-center text-lg-start">
  <div class="row pr-0 mr-0" style="background-color: rgba(0, 0, 0, 0.2)">
    <div class="container mx-auto text-center pt-1">
        <a href="https://www.facebook.com/" target="_blank" rel="noopener"><i class="fab fa-facebook media-icons p-3  ml-1" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/" target="_blank" rel="noopener"><i class="fab fa-instagram media-icons p-3 ml-1" aria-hidden="true"></i></a>
		<a href="https://www.twitter.com" target="_blank" rel="noopener"><i class="fab fa-twitter-square media-icons p-3 ml-1" aria-hidden="true"></i></a>
		<a href="https://www.slack.com/" target="_blank" rel="noopener"><i class="fab fa-slack media-icons p-3  ml-1" aria-hidden="true"></i></a>
	</div>
  </div>
  <div class="row pr-0 mr-0">
    <div class="text-center p-3 align-middle" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2021 Copyright.
      <a class="text-dark" href="https://github.com/tpsantos2120">Thiago Santos</i></a>.
    </div>
  </div>
</footer>
