<div id="login-modal" class="uk-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-background-secondary uk-light">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h2 class="uk-modal-title">Login</h2>
    <form id="login-form">
      <div class="uk-margin">
        <input
          class="uk-input"
          type="text"
          placeholder="Email"
          id="loginEmail"
          name="loginEmail"
          required
          autocomplete="off"
        />
      </div>
      <div class="uk-margin">
        <input
          class="uk-input"
          type="password"
          placeholder="Password"
          id="loginPassword"
          name="loginPassword"
          autocomplete="off"
        />
      </div>
      <button
        class="uk-button uk-button-default"
        type="submit"
        href=""
        required
        >Login</button
      >
    </form>
  </div>
</div>
