<div id="purpose-modal" class="uk-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-background-secondary uk-light">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h2 class="uk-modal-title">Purpose</h2>
    <div class="uk-animation-fade">
      <p>
        The purpose of this website is to empower users to build their own
        watchlist library of TV Shows and Movies. It could be something you have
        already watched or something that is yet to be released.
      </p>
      <br />
      <p>The main features we provide to registered members:</p>
      <ul>
        <li>Search for Movies and TV Shows</li>
        <li>Get random recommend Movies or TV Shows</li>
        <li>Get the lastest trending Movies</li>
      </ul>
      <p>
        If you are not a registered member you can still search for TV shows and
        Movies, but you will not be able to build a watchlist, get recommended
        titles and get treding Movies.
      </p>
      <br />
      <p>We hope you will enjoy!</p>
      <p>UNBOXIT Team.</p>
    </div>
  </div>
</div>
