<div class="uk-modal" id="register-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-background-secondary uk-light">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h2 class="uk-modal-title">Sign Up</h2>
    <form id="register-form">
      <div class="uk-margin">
        <input
          class="uk-input"
          type="text"
          name="firstname"
          placeholder="First Name"
          id="firstname"
          required
        />
      </div>
      <div class="uk-margin">
        <input
          class="uk-input"
          type="text"
          name="lastname"
          placeholder="Last Name"
          id="lastname"
          required
        />
      </div>
      <div class="uk-margin">
        <input
          class="uk-input"
          type="text"
          name="username"
          placeholder="Username"
          id="username"
          required
        />
      </div>
      <div class="uk-margin">
        <input
          class="uk-input"
          type="text"
          name="email"
          placeholder="Email"
          id="email"
          required
        />
      </div>
      <div class="uk-margin">
        <input
          class="uk-input"
          type="password"
          name="password"
          placeholder="Password"
          id="password"
          required
        />
      </div>

      <button
        class="uk-button uk-button-default"
        href=""
        type="submit"
        id="register-button"
      >
        Sign Up
      </button>
    </form>
  </div>
</div>
