<!-- Modal -->
<form action="{{ url_for('register') }}" id="register-form" method="POST">
  <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModal" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="registerModalLabel">Sign Up</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>        
          <div class="modal-body ">
            <div class="col">
            <div class="mb-3 row">
              <label for="email" class="col-sm-2 col-form-label sr-only">First Name:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="email" class="col-sm-2 col-form-label sr-only">Last Name:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="email" class="col-sm-2 col-form-label sr-only">Username:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="username" id="username" placeholder="Username">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="email" class="col-sm-2 col-form-label sr-only">Email:</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="password" class="col-sm-2 col-form-label sr-only">Password:</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button onclick="form_submit()" type="button" class="btn btn-primary">Signup</button>
          </div>
        </div>
        </div>
      </div>
    </div>
  </form>