<div id="register-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-background-secondary uk-light">
    <div class="uk-alert-danger" hidden uk-alert id="register-alert">
      <a class="uk-alert-close" uk-close></a>
      <p>The details that you provided are wrong.</p>
    </div>
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <form action="" id="register-form" method="POST">
      <h2 class="uk-modal-title">Sign Up</h2>
      <div class="uk-margin">
        <input
          class="uk-input"
          type="text"
          name="firstname"
          placeholder="First Name"
          id="firstname"
          required
        />
      </div>
      <div class="uk-margin">
        <input
          class="uk-input"
          type="text"
          name="lastname"
          placeholder="Last Name"
          id="lastname"
          required
        />
      </div>
      <div class="uk-margin">
        <input
          class="uk-input"
          type="text"
          name="username"
          placeholder="Username"
          id="username"
          required
        />
      </div>
      <div class="uk-margin">
        <input
          class="uk-input"
          type="text"
          name="email"
          placeholder="Email"
          id="email"
          required
        />
      </div>
      <div class="uk-margin">
        <input
          class="uk-input"
          type="password"
          name="firstname"
          placeholder="password"
          id="password"
          required
        />
      </div>
    </form>
    <a class="uk-button uk-button-default" href="" id="register-button"
      >Sign Up</a
    >
  </div>
</div>
