<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- UIkit CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.6.20/dist/css/uikit.min.css"
    />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.20/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.20/dist/js/uikit-icons.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <section>
      <div class="uk-card uk-card-secondary uk-card-body">
        <h3 class="uk-card-title">Password Reset</h3>
        <p>
          Dear, {% if first_name %}{{first_name}}{% else %} User {% endif %}
        </p>
        <p>
          To reset your password
          <a href="{{ url }}"> click here </a>.
        </p>
        <p>
          Alternatively, you can paste the following link in your browser's
          address bar:
        </p>
        <p>{{ url }}</p>
        <p>
          If you have not requested a password reset, please let us know by
          replying back to this email.
        </p>
        <br />
        <p>Thank you!</p>
        <p>Unboxit Support Team</p>
        <img src="{{base_url}}static/img/logo_ms3.png" alt="Company logo" />
      </div>
    </section>
  </body>
</html>
