<div id="reset-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-background-secondary uk-light">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h2 class="uk-modal-title">Reset Password</h2>
    <form id="reset-modal-form">
      <div class="uk-margin">
        <input
          class="uk-input"
          type="email"
          placeholder="Enter email..."
          id="resetEmail"
          name="resetEmail"
        />
      </div>
      <button class="uk-button uk-button-default uk-margin-top" type="submit">
        Send
      </button>
      <a href="#login-modal" class="uk-button uk-button-default uk-margin-top" uk-toggle
        >Login</a
      >
    </form>
  </div>
</div>
