{% block content %}
<section class="wrapper background-section" >
    <form id="search-form">
      <div class="uk-card uk-card-secondary uk-card-small uk-card-body uk-dark">
        <div>
          <ul
            class="uk-child-width-expand uk-tab uk-dark"
            id="tabs"
            data-uk-tab
          >
            <li><a href="#" id="tv-shows">TV Shows</a></li>
            <li><a href="#" id="movies">Movies</a></li>
          </ul>
        </div>
        <div class="uk-margin">
          <input
            class="uk-input uk-dark"
            type="text"
            name="search"
            id="search"
            placeholder="Search..."
            autocomplete="off"
          />
        </div>
        <div class="uk-margin">
          <button
            class="uk-button uk-button-default uk-width-1-1"
            type="submit"
            href=""
            required
          >
            Search
          </button>
        </div>
      </div>
    </form>
    <div id="view-results" ></div>
    <div id="view-result-details" ></div>
</section>
<section>
  
  <div id="user-feedback" class="uk-flex-top" data-uk-modal>
    <div
      class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-padding"
    >
      <div class="uk-position-top-center">
        <div id="spinner" class="uk-padding"></div>
      </div>
      <div
        id="user-message"
        class="uk-padding uk-text-center uk-margin-top"
      ></div>
    </div>
  </div>
</section>
{% endblock %}
