{% block content %}
<section id="search-section">
  <div class="uk-flex-center">
    <form id="search-form">
      <div class="uk-card uk-card-secondary uk-card-small uk-card-body uk-dark">
        <div>
          <ul
            class="uk-child-width-expand uk-tab uk-dark"
            id="tabs"
            data-uk-tab
          >
            <li><a href="#" id="tv-shows">TV Shows</a></li>
            <li><a href="#" id="movies">Movies</a></li>
          </ul>
        </div>
        <div class="uk-margin">
          <input
            class="uk-input uk-dark"
            type="text"
            name="search"
            id="search-input"
            placeholder="Search..."
          />
        </div>
      </div>
    </form>
  </div>
</section>
<section id="divider">
  <div id="result" class="p-0"></div>
  <div id="result-full-details"></div>
  <div id="user-feedback" class="uk-flex-top" data-uk-modal>
    <div
      class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-padding"
    >
      <div class="uk-position-top-center">
        <div id="spinner"></div>
      </div>
      <div id="user-message"></div>
    </div>
  </div>
</section>
{% endblock %} {% block script %}
<script>
  $(function () {
    let typingTimer,
      doneTypingInterval = 2000,
      $input = $("#search-input");

    $input.on("keyup", function () {
      clearTimeout(typingTimer);
      typingTimer = setTimeout(doneTyping, doneTypingInterval);
    });

    $input.on("keydown", function () {
      clearTimeout(typingTimer);
    });

    function doneTyping() {
      const userInput = getUserInput();
      if (userInput.type == "TV Shows") {
        searchTvShows(userInput);
      } else if (userInput.type == "Movies") {
        searchMovies(userInput);
      }
    }

    function getUserInput() {
      let query = $("#search-input").val();
      let type = $("#tabs").find("li.uk-active").text();
      query = query.replace(" ", "+");
      return (userInput = { type: type, query: query });
    }

    function searchMovies(userInput) {
      var url = "/search/movies/" + userInput.query;
      startSpinner();
      $.ajax({
        url: url,
        type: "get",
        success: function (response) {
          endSpinner();
          $("#result").html(response);
          console.log(response);
        },
        error: function (error) {
          console.log(error);
        },
      });
    }

    function searchTvShows(userInput) {
      var url = "search/tv-shows/" + userInput.query;
      $.ajax({
        url: url,
        type: "get",
        success: function (response) {
          console.log(response);
        },
        error: function (error) {
          console.log(error);
        },
      });
    }
    function startSpinner() {
      $("#spinner").attr("uk-spinner", "");
      $("#user-message").text(
        "Please, bear with us a moment whilst we are searching our books!"
      );
      UIkit.modal("#user-feedback").show();
    }
    function endSpinner() {
      UIkit.modal("#user-feedback").hide();
    }
  });

  // $("#result-full-details").append(response);
  //           $(".uk-background-cover").css(
  //             "background-image",
  //             "url(" + image + ")"
  //           );
  //           UIkit.modal("#view-details-modal").show();
  //           $(".close-details-modal").click(function () {
  //             $("#view-details-modal").remove();
  //             $("#modal-media-youtube").remove();
  //           });
  //           $(".close-video-modal").click(function () {
  //             $("#view-details-modal").remove();
  //             $("#modal-media-youtube").remove();
  //           });
</script>
{% endblock %}
