<div id="settings-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-background-secondary uk-light">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h2 class="uk-modal-title">Change Password</h2>
    <form id="settings-form">
      <div class="uk-margin">
        <input
          class="uk-input"
          type="password"
          placeholder="New Password"
          id="newPassword"
          name="newPassword"
        />
      </div>
      <div class="uk-margin">
        <input
          class="uk-input"
          type="password"
          placeholder="Repeat Password"
          id="repeatPassword"
          name="repeatPassword"
        />
      </div>
      <button class="uk-button uk-button-default" id="settings" type="submit" >
        Save
      </button>
    </form>
  </div>
</div>
