<form action="" id="settings-form" method="">
  <!-- This is the modal with the default close button -->
  <div id="settings-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-background-secondary uk-light">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <h2 class="uk-modal-title">Change Password</h2>
      <div class="uk-margin">
        <input class="uk-input" type="text" placeholder="New Password" />
      </div>
      <div class="uk-margin">
        <input class="uk-input" type="text" placeholder="New Password" />
      </div>
      <a class="uk-button uk-button-default" href="">Save</a>
    </div>
  </div>
</form>
