<!-- Bootstrap Bundle with Popper -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
  crossorigin="anonymous"
></script>

<!-- UIkit JS -->
<script defer src="https://cdn.jsdelivr.net/npm/uikit@3.6.19/dist/js/uikit.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/uikit@3.6.19/dist/js/uikit-icons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

<script
  defer
  type="module"
  src="{{url_for('static', filename='js/fetch.js')}}"
></script>
<script
  type="module"
  src="{{url_for('static', filename='js/login.js')}}"
></script>
<script
  type="module"
  src="{{url_for('static', filename='js/signup.js')}}"
></script>
<script
  type="module"
  src="{{url_for('static', filename='js/searchForm.js')}}"
></script>
<script
  type="module"
  src="{{url_for('static', filename='js/viewResultDetails.js')}}"
></script>
<script
  type="module"
  src="{{url_for('static', filename='js/dashboard.js')}}"
></script>
<script
  type="module"
  src="{{url_for('static', filename='js/resetPassword.js')}}"
></script>
<script
  type="module"
  src="{{url_for('static', filename='js/userFeedback.js')}}"
></script>
